/*
    By default components have padding and margin
    The below sets everything to 0
    border-box makes sure that padding and border are included in the width total
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}