@mixin flex-wrap-center-space-around {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    @include flex-wrap-center-space-around();
    padding: 15px;
    background-color: $light-pink;
    color: black;
    transition: 0.3s;
    .social-media-logos {
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        a {
            i {
                padding: 20px;
                color: black; 
                margin-bottom: 20px;
                transform: scale(0.8);
            }
        }
    }
    .line-separator {
        width: 3px;
        height: 100px;
        background-color: $dark-pink;
        margin-bottom: 20px;
    }
    nav {
        font-family: $plain-font;
        margin-bottom: 20px;
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 15px;
            li {
                a {
                    justify-self: flex-end;
                    text-decoration: none;
                    color: black;
                    line-height: 1.2;
                    font-size: 16px;;
                }
                a:visited {
                    color: black;
                }
            }
        }
    }
    .contact-details {
        @include flex-wrap-center-space-around();
        width: 100%;
        flex-direction: row;
        .contact-detail-items {
            font-family: $plain-font;
            @include flex-wrap-center-space-around();
            padding: 0 10px;
            i {
                padding: 0 4px;
            }
            p {
                font-size: 13px;
                color: black;
                padding: 0 1vw;
            }
        }
    }
}

@media screen and (min-width:$medium) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .social-media-logos {
            a {
                i {
                    margin: 0 3vw;
                    transition: 0.3s;
                    transform: scale(1);
                }
                // adding bottom shadow and moving element up on nav-link hover
                i:hover {
                    box-shadow: 0 -5px white inset;
                    padding: 15px 20px 25px 20px;
                }
            }

        }
        .line-separator {
            height: 80px;
            margin: 0;
        }
        nav {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 26px;
                li {
                    a {
                        display: block;
                        transition: 0.3s;
                        font-size: 18px;
                        padding: 20px 20px;
                        // adding bottom shadow and moving element up on nav-link hover
                        &:hover {
                            box-shadow: 0 -5px white inset;
                            padding: 15px 20px 25px 20px;
                        }
                        
                    }
                    
                }
                
            }
        }
        .contact-details {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px;
            .contact-detail-items {
                p {
                    font-size: 20px;
                }
            }
        }
    }
}
