* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  background-color: #FFB5A7;
  transition: 0.3s;
}
header .logo a {
  font-family: "Pacifico", cursive;
  font-size: 22px;
  color: black;
  text-decoration: none;
}
header .hamburger {
  position: relative;
  cursor: pointer;
  z-index: 2;
  background: white;
  height: 4px;
  width: 30px;
  border-radius: 10px;
  transition: 0.3s;
}
header .hamburger:before, header .hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0px;
  background: white;
  background: white;
  height: 4px;
  width: 30px;
  border-radius: 10px;
  transition: 0.3s;
}
header .hamburger:before {
  top: -10px;
}
header .hamburger::after {
  top: 10px;
}
header .hamburger, header .toggle-menu {
  display: none;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar input:checked ~ .hamburger {
  background: transparent;
}
header .navbar input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}
header .navbar input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(-45deg);
}
header .navbar .toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
header .navbar .menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}
header .navbar .menu li {
  list-style: none;
}
header .navbar .menu li a {
  font-family: "Nunito", sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 25px 25px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}
header .navbar .menu li a:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  box-shadow: 0 -5px rgba(154, 44, 44, 0.2352941176) inset, 500px 0 0 #F17178 inset;
  padding: 20px 25px 30px 25px;
}

@media screen and (max-width: 992px) {
  header {
    padding: 10px 20px;
    position: fixed;
  }
  header .navbar .hamburger,
  header .navbar .toggle-menu {
    display: block;
    position: fixed;
    right: 15px;
  }
  header .navbar .menu {
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #F17178;
    width: 300px;
    height: 100vh;
    padding-top: 60px;
  }
  header .navbar .menu li {
    width: 100%;
  }
  header .navbar .menu li a, header .navbar .menu li a:hover {
    padding: 30px;
    font-size: 22px;
  }
  header .navbar input:checked ~ .menu {
    right: 0;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #FFB5A7;
  color: black;
  transition: 0.3s;
}
footer .social-media-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .social-media-logos a i {
  padding: 20px;
  color: black;
  margin-bottom: 20px;
  transform: scale(0.8);
}
footer .line-separator {
  width: 3px;
  height: 100px;
  background-color: #F17178;
  margin-bottom: 20px;
}
footer nav {
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer nav ul li a {
  text-decoration: none;
  color: black;
  line-height: 1.2;
  font-size: 16px;
}
footer nav ul li a:visited {
  color: black;
}
footer .contact-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .contact-details .contact-detail-items {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer .contact-details .contact-detail-items i {
  padding: 0px 4px;
}
footer .contact-details .contact-detail-items p {
  font-size: 13px;
  color: white;
  padding: 0 1vw;
}

@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .social-media-logos a i {
    margin: 0 3vw;
    transition: 0.5s;
    transform: scale(1);
  }
  footer .social-media-logos a i:hover {
    box-shadow: 0 -5px #F17178 inset;
    padding: 15px 20px 25px 20px;
  }
  footer .line-separator {
    height: 80px;
    margin: 0;
  }
  footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
  }
  footer nav ul li a {
    display: block;
    transition: 0.5s;
    font-size: 18px;
    padding: 20px 20px;
  }
  footer nav ul li a:hover {
    box-shadow: 0 -5px #F17178 inset;
    padding: 15px 20px 25px 20px;
  }
  footer .contact-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  footer .contact-details .contact-detail-items p {
    font-size: 20px;
  }
}
body {
  margin: 0px;
}/*# sourceMappingURL=index.css.map */